<img src="/public/assets/logo.png" alt="OpenFi Network">

<ul>
    <li data-page="/dashboard/dashboard">Dashboard</li>
    <li data-page="/dashboard/devices">Devices</li>
    <li data-page="/dashboard/system">System</li>
</ul>