<img src="/public/assets/logo.png" alt="OpenFi Network">

<ul>
    <li data-page="/dashboard/main">Dashboard</li>
    <li data-page="/dashboard/devices">Devices</li>
    <li data-page="/dashboard/logs">Logs</li>
    <li data-page="/dashboard/wifi">WiFi</li>
    <li data-page="/dashboard/networks">Networks</li>
    <li data-page="/dashboard/system">System</li>
</ul>