<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
</head>
<body>
    <nav class="main_nav">
        <%- include('../../partials/navbar'); %>
    </nav>
    <main class="main_content">
        <h1>System Settings</h1>
    </main>
</body>
</html>