<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/styles/main.css" rel="stylesheet" />
    <title>OpenFi</title>
</head>
<body>
   <nav class="main_nav">
    <img src="/assets/logo.png" alt="OpenFi Network">
    <ul>
        <li>Dashboard</li>
        <li>Devices</li>
        <li>System</li>
    </ul>
   </nav>
   <main class="main_content">
    <h1>Welcome to OpenFi</h1>
   </main>
</body>
</html>